@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Neucha&display=swap");

/* font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Neucha', cursive; */

.App {
  font-family: "Neucha", cursive;
  min-height: 100vh;
  display: flex;
  background-image: url("./assets/blue.jpg");
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
