@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Neucha&display=swap");

/* font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Neucha', cursive; */

.App {
  font-family: "Neucha", cursive;
  min-height: 100vh;
  display: flex;
  background-image: url("./assets/blue.jpg");
  background-size: cover;
  background-position: center;
}
